.svg-about1 {
	background: url("svg/sprite.view.svg") 8.991825613079019% 82.59833134684148% no-repeat;
}

.svg-about1-dims {
	width: 103px;
	height: 168px;
}

.svg-about2 {
	background: url("svg/sprite.view.svg") 0 100% no-repeat;
}

.svg-about2-dims {
	width: 140px;
	height: 141px;
}

.svg-about3 {
	background: url("svg/sprite.view.svg") 19.27480916030534% 78.21670428893906% no-repeat;
}

.svg-about3-dims {
	width: 156px;
	height: 121px;
}

.svg-about4 {
	background: url("svg/sprite.view.svg") 0 83.09352517985612% no-repeat;
}

.svg-about4-dims {
	width: 99px;
	height: 173px;
}

.svg-arrow-black {
	background: url("svg/sprite.view.svg") 45.80152671755725% 75.15274949083503% no-repeat;
}

.svg-arrow-black-dims {
	width: 25px;
	height: 25px;
}

.svg-arrow-cat {
	background: url("svg/sprite.view.svg") 54.27852348993289% 74.17085427135679% no-repeat;
}

.svg-arrow-cat-dims {
	width: 12px;
	height: 12px;
}

.svg-basket {
	background: url("svg/sprite.view.svg") 36.92178301093356% 72.07661290322581% no-repeat;
}

.svg-basket-dims {
	width: 15px;
	height: 15px;
}

.svg-cart {
	background: url("svg/sprite.view.svg") 48.65092748735245% 70.07077856420626% no-repeat;
}

.svg-cart-dims {
	width: 18px;
	height: 18px;
}

.svg-cart-log {
	background: url("svg/sprite.view.svg") 38.18334735071489% 72.07661290322581% no-repeat;
}

.svg-cart-log-dims {
	width: 15px;
	height: 15px;
}

.svg-cart-null {
	background: url("svg/sprite.view.svg") 38.4076990376203% 78.34394904458598% no-repeat;
}

.svg-cart-null-dims {
	width: 61px;
	height: 65px;
}

.svg-close-white {
	background: url("svg/sprite.view.svg") 48.48739495798319% 74.3202416918429% no-repeat;
}

.svg-close-white-dims {
	width: 14px;
	height: 14px;
}

.svg-com {
	background: url("svg/sprite.view.svg") 45.48523206751055% 70.1417004048583% no-repeat;
}

.svg-com-dims {
	width: 19px;
	height: 19px;
}

.svg-comment {
	background: url("svg/sprite.view.svg") 47.08860759493671% 70.1417004048583% no-repeat;
}

.svg-comment-dims {
	width: 19px;
	height: 19px;
}

.svg-fb {
	background: url("svg/sprite.view.svg") 39.1812865497076% 72.07661290322581% no-repeat;
}

.svg-fb-dims {
	width: 7px;
	height: 15px;
}

.svg-info {
	background: url("svg/sprite.view.svg") 43.83445945945946% 70.2127659574468% no-repeat;
}

.svg-info-dims {
	width: 20px;
	height: 20px;
}

.svg-inst {
	background: url("svg/sprite.view.svg") 49.66386554621849% 74.3202416918429% no-repeat;
}

.svg-inst-dims {
	width: 14px;
	height: 14px;
}

.svg-lk {
	background: url("svg/sprite.view.svg") 50.84033613445378% 74.3202416918429% no-repeat;
}

.svg-lk-dims {
	width: 14px;
	height: 14px;
}

.svg-modal-check-big {
	background: url("svg/sprite.view.svg") 31.878895814781835% 72.03742203742203% no-repeat;
}

.svg-modal-check-big-dims {
	width: 81px;
	height: 45px;
}

.svg-out {
	background: url("svg/sprite.view.svg") 40.033641715727505% 72.00402819738167% no-repeat;
}

.svg-out-dims {
	width: 15px;
	height: 14px;
}

.svg-phone {
	background: url("svg/sprite.view.svg") 50.16863406408095% 70.07077856420626% no-repeat;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-product-img {
	background: url("svg/sprite.view.svg") 42.955326460481096% 76.31851085832471% no-repeat;
}

.svg-product-img-dims {
	width: 40px;
	height: 40px;
}

.svg-profile {
	background: url("svg/sprite.view.svg") 47.399328859060404% 74.39516129032258% no-repeat;
}

.svg-profile-dims {
	width: 12px;
	height: 15px;
}

.svg-question {
	background: url("svg/sprite.view.svg") 43.40567612687813% 71.71514543630893% no-repeat;
}

.svg-question-dims {
	width: 6px;
	height: 10px;
}

.svg-reg-mail {
	background: url("svg/sprite.view.svg") 31.878895814781835% 78.42720510095643% no-repeat;
}

.svg-reg-mail-dims {
	width: 81px;
	height: 66px;
}

.svg-regional-map {
	background: url("svg/sprite.view.svg") 0 0 no-repeat;
}

.svg-regional-map-dims {
	width: 1204px;
	height: 693px;
}

.svg-search {
	background: url("svg/sprite.view.svg") 52.016806722689076% 74.3202416918429% no-repeat;
}

.svg-search-dims {
	width: 14px;
	height: 14px;
}

.svg-speaker {
	background: url("svg/sprite.view.svg") 42.04737732656515% 70.35532994923858% no-repeat;
}

.svg-speaker-dims {
	width: 22px;
	height: 22px;
}

.svg-tail {
	background: url("svg/sprite.view.svg") 38.30715532286213% 70.35532994923858% no-repeat;
}

.svg-tail-dims {
	width: 58px;
	height: 22px;
}

.svg-tg {
	background: url("svg/sprite.view.svg") 53.19327731092437% 74.24547283702213% no-repeat;
}

.svg-tg-dims {
	width: 14px;
	height: 13px;
}

.svg-tw {
	background: url("svg/sprite.view.svg") 41.29520605550883% 71.85929648241206% no-repeat;
}

.svg-tw-dims {
	width: 15px;
	height: 12px;
}

.svg-vk {
	background: url("svg/sprite.view.svg") 51.5993265993266% 69.43887775551102% no-repeat;
}

.svg-vk-dims {
	width: 16px;
	height: 9px;
}

.svg-ytube {
	background: url("svg/sprite.view.svg") 42.52100840336134% 71.71514543630893% no-repeat;
}

.svg-ytube-dims {
	width: 14px;
	height: 10px;
}

