.calculator__container {
    padding-left: 12.4vw;
    padding-right: 12.4vw
}

.calculator__container h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 3.7vw;
    padding-bottom: 2.5vw
}

.calculator__main-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: .6vw
}

.calculator__main-title p {
    width: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 1.1vw;
}

.calculator__select-item {
    width: 50%
}

.calculator__select-item:first-child {
    margin-right: 1.25vw
}

.calculator__select-item p {
    width: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 1.1;
    padding-bottom: .6vw
}

.calculator__select-item .calculator-select {
    position: relative
}

.calculator__select-item .calculator-select.calculator-is-open .select__body {
    display: block
}

.calculator__select-item .calculator-select__header {
    cursor: pointer;
    border: 1px solid var(--border);
    padding: 1.1vw 1.4vw
}

.calculator__select-item .calculator-select__header:before {
    content: "";
    position: absolute;
    border: .19vw solid transparent;
    border-top: .19vw solid var(--main-color);
    right: 2vw;
    top: 2vw
}

.calculator__select-item .calculator-select__body {
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    height: 270px;
    overflow-y: scroll;
    border-bottom: 1px solid var(--border)
}

.calculator__select-item .calculator-select__item {
    cursor: pointer;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    padding: 1.1vw 1.4vw;
    background: #fff
}

.calculator__select-item .calculator-select__item:hover {
    background: #fcfcfc
}

.calculator__select-item .calculator-select__current {
    width: 100%
}

.calculator__select-item .calculator-select__current:before {
    display: none
}

.calculator__main-select {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1.9vw;
    padding-right: 2.5vw
}

.calculator__main {
    padding-top: 1.6vw;
    border-top: 4px solid #f57400;
    background: #fff;
    box-shadow: 0 0 96px rgba(0, 0, 0, .1);
    padding-left: 2.8vw;
    margin-bottom: 5.55vw
}

.calculator__main-block, .calculator__product-item {
    display: flex;
    justify-content: space-between
}

.calculator__product-item {
    position: relative;
    align-items: center;
    padding-bottom: .94vw;
    padding-top: .94vw;
    border-bottom: 1px solid var(--border);
    padding-right: 2.5vw
}

.calculator__product-item:hover {
    background: #fcfcfc;
    cursor: pointer
}

.calculator__product-item .calculator-checkbox {
    cursor: pointer;
    display: block;
    padding-left: 35px;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.calculator__product-item .calculator-checkbox input {
    cursor: pointer;
    opacity: 0;
    position: absolute
}

.calculator__product-item .calculator-checkbox input:checked ~ .checkbox__custom {
    background-color: #fff
}

.calculator__product-item .calculator-checkbox input:checked ~ .checkbox__custom:after {
    display: block
}

.calculator__product-item .calculator-checkbox__custom {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    left: 0;
    height: 1.75vw;
    position: absolute;
    top: -.9vw;
    right: 0;
    width: 1.75vw

}

.calculator__product-item .calculator-checkbox__custom:after {
    content: "";
    display: none;
    height: 1.1vw;
    top: .25vw;
    position: absolute;
    border-radius: 50%;
    background-color: #f57400;
    width: 1.1vw;
    left: 0.25vw;
}

.calculator__product-item p {
    font-style: normal;
    font-weight: 500;
    line-height: 1.25vw
}

.calculator__product-item img {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 1.6vw
}

.calculator__product-list {
    width: 100%;
    max-width: 24.2vw;
    max-height: 48.8vw;
    overflow-y: scroll
}

.calculator__product-list::-webkit-scrollbar {
    width: .4vw;
    background: linear-gradient(0deg, #e3e3e3, #e3e3e3), #e3e3e3;
    height: 10vw;
    max-height: 55px
}

.calculator__product-list::-webkit-scrollbar-thumb {
    background-color: #919191
}

.calculator__product-list::-webkit-scrollbar-track {
    height: 55px
}

.calculator__item-wrapper {
    display: flex;
    align-items: center
}

.calculator__option-block {
    width: 100%;
    height: 100%
}

.calculator__option-block .calculator-tabs-content__calc-item {
    display: none
}

.calculator__option-block .calculator-tabs-content__calc-item.calculator-is-active {
    display: flex
}

.calculator__option-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw
}

.calculator__option-title h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 2.5vw
}

.calculator__tabs-nav {
    display: flex;
    position: relative
}

.calculator__tabs-nav li {
    cursor: pointer;
    padding-right: .63vw;
    padding-left: .63vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25vw;
    padding-bottom: 1.75vw;
    position: relative;
    border-bottom: 2px solid #80889e
}

.calculator__tabs-nav li:first-child {
    padding-left: 0
}

.calculator__tabs-nav li:last-child {
    padding-right: 0
}

.calculator__main-text {
    border-top: 1px solid var(--border);
    padding: 3.7vw 12.4vw 7.5vw
}

.calculator__main-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2vw;
    padding-bottom: 1.9vw
}

.calculator__main-text p:last-child {
    padding-bottom: 0
}

.calculator__select-item-mob {
    display: none
}

.calculator__sub-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 1.35vw;
    line-height: 1.75vw;
    color: var(--alt-color);
    padding: 17.5px 30px;
    border-radius: 80px;
    background-color: #f57400;
    width: 100%;
    margin-top: 1.9vw;
    cursor: pointer
}

.calculator-tabs-content.calculator__tabs-content {
    padding-left: 0 !important;
    padding-right: 0;
    max-height: 100%;
    height: 100%;
    padding-left: 2.5vw
}

.calculator-tabs-nav__calc-item.calculator-is-active {
    color: #f57400;
    border-bottom: 2px solid #f57400;
    position: relative
}

.calculator-tabs-content__calc-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.calculator-tabs-content__calc-item img {
    width: 17.81vw;
    height: 17.81vw;
    margin-top: 1.9vw
}

.calculator-tabs-content__input {
    position: relative;
    padding-bottom: .9vw
}

.calculator-tabs-content__input:last-child {
    padding-bottom: 0
}

.calculator-tabs-content__input label {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    padding-bottom: .1vw
}

.calculator-tabs-content__input p {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    z-index: 100;
    right: 1vw;
    top: 2.5vw
}

.calculator-tabs-content__input input {
    width: 100%;
    padding: .9vw;
    background: #fcfcfc;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 1px;
    position: relative
}

.calculator-tabs-content__input input::-webkit-inner-spin-button, .calculator-tabs-content__input input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.calculator-tabs-content__input input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    position: relative;
    color: var(--main-color);
    right: 0
}

.calculator-tabs-content__input input:-ms-input-placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    position: relative;
    color: var(--main-color);
    right: 0
}

.calculator-tabs-content__input input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    position: relative;
    color: var(--main-color);
    right: 0
}

.calculator-tabs-content__calc-inputs {
    flex-direction: column;
    display: flex;
    position: relative
}

.calculator-tabs-content__calc-column {
    width: 100%;
    max-width: 21.6vw;
    padding-top: 2.5vw;
    height: 100%
}

.calculator-tabs-content__item-footer {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background-color: var(--grey-bg);
    margin-top: 13.8vw
}

.calculator-tabs-content__footer-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 1.25vw;
    padding-bottom: 1.25vw
}

.calculator-tabs-content__footer-block p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.4vw
}

.calculator-tabs-content__footer-block h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 2.15vw;
    line-height: 2.5vw;
    color: #f57400
}

.calculator-tabs-content__item-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5vw;
    padding-right: 2.5vw
}

@media (max-width: 867px) {
    .calculator__container {
        padding-right: 20px;
        padding-left: 20px
    }

    .calculator__container h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 44px;
        padding-top: 53px;
        padding-bottom: 40px
    }

    .calculator__main-select {
        flex-direction: column;
        padding-right: 12px;
        padding-left: 12px;
        padding-bottom: 26px
    }

    .calculator__select-item {
        width: 100%;
        padding-bottom: 14px
    }

    .calculator__select-item p {
        font-size: 14px;
        line-height: 22px;
    }

    .calculator__select-item .calculator-select__header {
        padding: 18px
    }

    .calculator__select-item .calculator-select__header:before {
        border: 4px solid transparent;
        border-top-color: #000;
        right: 22px;
        top: 25px
    }

    .calculator__main {
        padding-left: 0;
        padding-right: 0;
        padding-top: 16px;
        margin-bottom: 85px
    }

    .calculator__select-item-mob {
        display: flex;
        width: 100%;
        flex-direction: column
    }

    .calculator__select-item-mob .calculator-select {
        width: 100%
    }

    .calculator__select-item-mob .calculator-select__header {
        padding: 18px
    }

    .calculator__select-item-mob .calculator-select__header:before {
        border: 4px solid transparent;
        border-top-color: #000;
        right: 22px;
        top: 25px
    }

    .calculator__product-list {
        display: none
    }

    .calculator__option-title {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0
    }

    .calculator__option-title h2 {
        order: 1;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 20px
    }

    .calculator__option-title img {
        position: relative;
        order: 2;
        width: 200px;
        height: 200px;
        margin-bottom: 30px
    }

    .calculator__option-tabs {
        position: relative;
        order: 3
    }

    .calculator__tabs-nav li {
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        padding-left: 30px;
        padding-right: 30px
    }

    .calculator__tabs-nav li:first-child {
        padding-left: 0
    }

    .calculator__tabs-nav li:last-child {
        padding-right: 0
    }

    .calculator__sub-btn {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        margin-top: 14px
    }

    .calculator__main-text {
        display: none
    }

    .calculator-tabs-content__inputs-wrapper {
        padding-left: 12px;
        padding-right: 12px
    }

    .calculator-tabs-content__item-wrapper {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0
    }

    .calculator-tabs-content__input p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        top: 38px;
        right: 20px
    }

    .calculator-tabs-content__input input {
        padding: 14px
    }

    .calculator-tabs-content__input input::-webkit-input-placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--main-color)
    }

    .calculator-tabs-content__input input:-ms-input-placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--main-color)
    }

    .calculator-tabs-content__input input::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--main-color)
    }

    .calculator-tabs-content__input label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px
    }

    .calculator-tabs-content__calc-column {
        max-width: none;
        padding-top: 20px
    }

    .calculator-tabs-content__item-footer {
        margin-top: 50px;
        padding-left: 12px;
        padding-right: 12px
    }

    .calculator-tabs-content__footer-block {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 14px;
        padding-bottom: 14px
    }

    .calculator-tabs-content__footer-block p {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px
    }

    .calculator-tabs-content__footer-block h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px
    }

    .calculator-tabs-content__calc-item img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.calculator-checkbox {
    cursor: pointer;
    display: block;
    padding-left: 35px;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.calculator-checkbox input {
    cursor: pointer;
    opacity: 0;
    position: absolute
}

.calculator-checkbox input:checked ~ .calculator-checkbox__custom:after {
    display: block
}

.calculator-checkbox__custom {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1), 0 5px 10px 0 rgba(0, 0, 0, .05);
    left: 0;
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px
}

.calculator-checkbox__custom:after {
    content: "";
    border-width: 0 2px 2px 0;
    display: none;
    height: 12px;
    left: 6px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 7px
}

.calculator-select {
    position: relative
}

.calculator-select.calculator-is-open .calculator-select__body {
    display: block
}

.calculator-select__header {
    cursor: pointer
}

.calculator-select__body {
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    right: 0
}

.calculator-select__item {
    cursor: pointer
}

.calculator-select__current {
    font-style: normal;
    font-weight: 500;
    font-size: 1.13vw;
    line-height: 1.13vw;
    color: var(--main-color);
    position: relative
}

.calculator-select__current:before {
    content: "";
    position: absolute;
    border: .19vw solid transparent;
    border-top: .19vw solid var(--main-color);
    right: -.6vw;
    top: .5vw
}

@media (max-width: 867px) {
    .calculator-select__current {
        font-size: 16px;
        line-height: 18px
    }

    .calculator-select__current:before {
        border: 4px solid transparent;
        border-top-color: #000;
        right: -10px;
        top: 7px
    }

    .calculator__select-item .calculator-select__item {
        font-size: 14px;
        line-height: 20px;
    }
}

.calculator-tabs-content__item {
    display: none
}

.calculator-tabs-content__item.calculator-is-active {
    display: block
}

/*# sourceMappingURL=main.706498ae.chunk.css.map */
